.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  .header__right > .gitHubLink{
    display: flex;
    width: 91px;
    height: 17px;
    background: #1ed15e;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: small;
    line-height: 25px;
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
  } 
  .gitHubIcon{
    margin-left: -4px;
    margin-right: 4px;
  }
  .header__left {
    flex: 0.5;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
  }
  
  .header__left > input {
    border: none;
    width: 100%;
  }
  
  .header__right > h4 {
    margin-left: 10px;
  }